<header>
  <div class="header_lockup">
    <a class="header_lockup_link" href="{% url 'index' %}">
      {% load staticfiles %}
      <img class="header_lockup_logo" src="{% static 'assets/lunchlab-logo.svg' %}" alt="">
      <h1 class="header_lockup_title">lunch lab</h1>
    </a>
  </div>
  <div class="header_navigation">
    {% if user.is_authenticated and user.lunchprofile.can_create_restaurants %}
      <a class="header_copy" href="{% url 'admin-index' %}">Manage Restaurants</a>
    {% endif %}
  </div>
  <div class="header_user-management">
    {% if user.is_authenticated %}
    <a class="edit_user_link" href="{% url 'edit-user' %}">
      {% include 'user/_avatar.html' %}
      <p class="header_copy">Hey, {{user.first_name}}!</p>
      <a class="user-management_link" href="{% url 'sign-out' %}">Sign Out</a>
    </a>
    {% else %}
      <a class="user-management_link" href="{% url 'sign-in' %}">Sign In</a>
      <a class="user-management_link" href="{% url 'sign-up' %}">Sign Up</a>
    {% endif %}
  </div>
</header>
