<div class="review_content">
  <div class="review_user_info">
    <h5>
      <span ng-if="review.isUserReview">
        Your review!
      </span>
      <span ng-if="!review.isUserReview">{[review.user.username]}'s review</span></h5>
    <div class="user_avatar_wrapper">
      <img ng-if="review.user.avatar" class="user_avatar" src="{[review.user.avatar]}" alt="User avatar">
      <img ng-if="!review.user.avatar" class="user_avatar" src="/static/assets/no-avatar.png" alt="User avatar">
    </div>
  </div>

  <div class="review_copy">
    <h4 class="review_title">{[review.title]}</h4>
    <p class="review_body">{[review.body]}</p>
  </div>
</div>

<div class="review_comments_section" ng-controller="commentsController as ctrl">

  <a  class="load_comments_button"
      ng-click="ctrl.getComments(review.id)">Comments</a>

  <section ng-if="ctrl.showComments">
    <div class="new_comment_form">
      <h4>Comment on this review</h4>
      <textarea type="text"
                rows="5"
                cols="60"
                name="comment-body"
                ng-model="ctrl.newComment.body"
                value=""></textarea>
      <a  class="submit_comment_button"
          ng-click="ctrl.submitNewComment(review.id)">Submit Comment</a>
    </div>
    <div class="comments_list_section">
      <h4>Comments</h4>
      <ul ng-if="ctrl.comments.length > 0">
        <li class="review_comment_list_item" ng-repeat="comment in ctrl.comments">
          <comment class="review_comment" data="comment"></comment>
        </li>
      </ul>
    </div>
    <a class="load_comments_button" ng-click="ctrl.hideComments()">Hide Comments</a>
  </section>
</div>
