header {
  align-items: center;
  background: $light-blue;
  border-bottom: 5px solid $gold;
  color: #fff;
  display: flex;
  height: 65px;
  justify-content: space-between;
  padding: 0 10px;

}

.header_lockup {
  .header_lockup_link {
    align-items: center;
    display: flex;

    .header_lockup_logo {
      height: 50px;
      width: auto;
    }

    .header_lockup_title {
      margin: 0 10px;
    }
  }


}


.header_user-management {
  display: flex;

  .user-management_link {
    padding: 0 10px;
  }
}
