
# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store
*.py[cod]
*.swp

/.*
!/.gitignore
!/.gitmodules

# Distribution / packaging
.Python
env/
static/
node_modules/

# Auth Secrets
secrets.json
base_settings.py

# Django stuff:
*.log
