.restaurant_show_section {

}

.restaurant_reviews_section {
  background: $background-gray;
  padding: 25px;
}

.restaurant_reviews_list {
  align-items: center;
  display: flex;
  flex-direction: column;

  .restaurant_review_list_item {
    width: 100%;
  }

  .restaurant_review {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}

.restaurant_review {
  border-bottom: 1px solid $light-gray;
  margin: 15px 0;

  .review_content {
    align-items: center;
    display: flex;
    margin: 10px 0;

    .review_user_info {
      margin: 0 15px;
      width: 200px;
    }

    .review_copy {
      align-self: flex-start;
      margin: 0 15px;
      width: 400px;

      .review_title {

      }

      .review_body {
      }
    }
  }

  .review_comments_section {
    margin: 15px 0;
    padding-left: 10px;

    .load_comments_button {
      background: $background-gray;
      border: 1px solid $light-gray;
      border-radius: 5px;
      padding: 5px 10px;
      transition: background, 0.4s;

      &:hover {
        background: $light-gray;
        cursor: pointer;
      }
    }
  }
}

.comments_list_section {
  margin: 15px 0;
}

.new_comment_form {
  display: flex;
  flex-direction: column;
  margin: 15px 0;

  textarea {
    margin: 10px 0;
  }

  .submit_comment_button {
    background: $background-gray;
    border: 1px solid $light-gray;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background, 0.4s;
    width: 120px;

    &:hover {
      background: $light-gray;
      cursor: pointer;
    }
  }
}

.restaurant_reviews_header {
  color: #F63440
}

.review_comment_list_item {
  border-bottom: 1px solid $light-gray;
  margin: 5px 0;
  padding: 5px 10px;
}
