.restaurants_section {
  text-align: center;
}

.unvisited_section {
  background: #efefef;
}

.unvisited_section,
.visited_section {
  padding: 20px 15px;
  text-align: center;

  .unvisited_restaurants_list,
  .visited_restaurants_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
  }
}

.visited_section {
  .no_user_visited_section {
    height: 460px;
  }
}

.restaurant_image_wrapper {
  height: 175px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 280px;

  .restaurant_image {
    height: auto;
    width: 280px;
  }

  .restaurant_image_default {
    width: 50%;
  }
}

.restaurant {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 15px;
  position: relative;
  text-align: left;
  width: 280px;
  height: 330px;

  .restaurant_name {
    color: $dark-blue;
    margin-bottom: 15px;
    padding: 0 20px;
  }

  .restaurant_address {
    font-size: 0.75em;
    padding: 0 20px;
  }
}

.restaurant_actions {
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  width: 100%;

  .add_visit_action,
  .thumbs_down_action {
    align-items: center;
    display: flex;

    &:hover {
      cursor: pointer;
    }

    .thumbs_down_icon {
      height: auto;
      width: 25px;
    }

    .add_visit_button {
      color: $dark-blue;
    }
  }
}
