.new_restaurant_section {
  .form_submit_button {
    color: $dark-blue;

    &:hover {
      cursor: pointer;
    }
  }
}

.new_restaurant_form {
  display: flex;

  .restaurant_location {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .restaurant_details {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.new_restaurant_map_data {
  background: $background-gray;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  min-width: 1080px;
  padding: 15px;

  .new_restaurant_search_results_container {
    margin: 0 25px;
    width: 40%;
  }

  .new_restaurant_search_results {
    border: 1px solid $light-gray;
    height: 425px;
    overflow-y: scroll;
  }

  .restaurant_search_result {
    border-bottom: 1px solid $light-gray;
    padding: 10px;

    a {
      &:hover {
        color: $light-blue;
        cursor: pointer;
      }
    }
  }
}

#map {
  height: 450px;
  width: 55%;
}
