.new_restaurant_section {
  .form_submit_button {
    background: $light-gray;
    color: $dark-blue;
    margin: 15px;
    padding: 10px 15px;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.new_restaurant_form_container {
  display: flex;
}

.new_restaurant_form {
  display: flex;
  flex-direction: column;
  width: 50%;

  .restaurant_location {
    display: flex;
    flex-direction: column;
  }

  .restaurant_details {
    display: flex;
    flex-direction: column;
  }
}

.new_restaurant_map_data {
  background: $background-gray;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 50%;
  padding: 15px;
}

.restaurant_image_row {
  margin: 10px;
  padding: 5px;

  .restaurant_image_input {
    align-items: center;
    border: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    width: 250px;

  }
}

#map {
  height: 100%;
  width: 100%;
}
