{% extends "base.html" %}

{% block main %}
<section class="auth_section">
  <h2 class="auth_section_header">Sign Up</h2>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <form action="{% url 'create' %}"
        method="post"
        enctype="multipart/form-data">

    {% csrf_token %}
    <div class="auth_form_inputs_row">
      <input  type="text"
              name="username"
              value=""
              placeholder="Username"
              required>

      <input  type="password"
              name="password"
              value=""
              placeholder="Password"
              required>
    </div>
    <div class="auth_form_inputs_row">
      <input  type="text"
              name="first-name"
              value=""
              placeholder="First Name">

      <input  type="text"
              name="last-name"
              value=""
              placeholder="Last Name">
    </div>
    <div class="auth_form_inputs_row">
      <input  type="text"
      name="email"
      value=""
      placeholder="Email">

      <label class="auth_admin_box_label" for="is-admin">
        Is Admin?
        <input  type="checkbox"
        name="is-admin"
        value="">
      </label>
    </div>

    <div class="auth_form_inputs_row">
      <span>Profile Image</span>
      <input  class="auth_image_input"
              type="file"
              name="user-image">
    </div>

    <input class="auth_submit_button" type="submit" value="Sign Up">
  </form>

</section>
{% endblock %}
