<h1>Sign Up</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'create' %}" method="post">
  {% csrf_token %}
  <input  type="text"
          name="username"
          value=""
          placeholder="Username"
          required>

  <input  type="text"
          name="first-name"
          value=""
          placeholder="First Name">

  <input  type="text"
          name="last-name"
          value=""
          placeholder="Last Name">

  <input  type="text"
          name="email"
          value=""
          placeholder="Email">

  <input  type="password"
          name="password"
          value=""
          placeholder="Password"
          required>

  <input type="submit" value="Sign In">
</form>
