html, body, div, section, header, p, ul, li, a, button, span, h1, h2, h3, h4, h5, h6 {
  background: inherit;
  color: inherit;
  font-size: inherit;
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  background: #fff;
  color: #535353;
}

ul, li {
  list-style: none;
}
