html, body, div, section, header, p, ul, li, a, button, input, textarea, span, h1, h2, h3, h4, h5, h6 {
  // background: inherit;
  color: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: inherit;
  // display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  background: #fff;
  color: #535353;
  height: 100%;
}

ul, li {
  list-style: none;
}

img {
  height: auto;
  width: 100%;
}

input,
textarea {
  border: none;
  outline: none;
  margin: 10px;
}

input {
  border: 1px solid $light-gray;
  color: $light-blue;
  font-size: 1.25em;
  padding: 5px 10px;
}

input {
  margin: 10px;
}

textarea {
  border: 1px solid $light-gray;
  padding: 5px 10px;
}

a {
  transition: color, 0.2s;

  &:hover {
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1;
}
