html, body, div, section, header, p, ul, li, a, button, span, h1, h2, h3, h4, h5, h6 {
  background: inherit;
  color: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: inherit;
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  background: #fff;
  color: #535353;
}

ul, li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 2.25em;
}
