<div class="review_content">
  <div class="review_user_info">
    <span ng-if="review.isUserReview">You wrote this</span>

  </div>

  <div class="review_copy">
    <h4 class="review_title">{[review.title]}</h4>
    <p class="review_body">{[review.body]}</p>
  </div>
</div>


<div class="reivew_comments_section" ng-controller="commentsController as ctrl">
  <a ng-click="ctrl.getComments(review.id)">Load Comments</a>
  <section ng-if="ctrl.showComments">
    <div>
      <h4>Comment on this review</h4>
      <input  type="text"
      name="comment-body"
      ng-model="ctrl.newComment.body"
      value="">
      <a ng-click="ctrl.submitNewComment(review.id)">Submit Comment</a>
    </div>

    <div>
      <h4>Comments</h4>
      <ul ng-if="ctrl.comments.length > 0">
        <li ng-repeat="comment in ctrl.comments">
          <comment data="comment"></comment>
        </li>
      </ul>
    </div>
  </section>
</div>
