{% extends "base.html" %}

{% block main %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0VxVP-vZw_Nsu_FBvCOK0KrFBohhPN8A&libraries=places"></script>
<section  class="new_restaurant_section"
          ng-controller="adminRestaurantsController as ctrl">
  <h2>New Restaurant</h2>
  <div class="new_restaurant_form_container">
    <form id="new-restaurant-form"
          class="new_restaurant_form"
          action="{% url 'create-restaurant' %}"
          method="post"
          enctype="multipart/form-data">
          {% csrf_token %}
      <input type="hidden" name="restaurant-id" value="{{restaurant.id}}">
      <div class="restaurant_details">
        <input  ng-model="ctrl.restaurant.name"
                type="text"
                name="name"
                value="{{restaurant.name}}"
                placeholder="Restaurant Name">
        <textarea ng-model="ctrl.restaurant.description"
                  name="description"
                  rows="8"
                  cols="80"
                  placeholder="Enter a detailed description...">{{restaurant.description}}</textarea>
      </div>
      <div class="restaurant_location">
        <input  id="address-input"
                type="text"
                ng-model="ctrl.restaurant.address"
                name="address"
                value="{{restaurant.address}}"
                readonly
                placeholder="Enter an address or search query to find a valid location">
        <input  ng-model="ctrl.restaurant.lat"
                type="text"
                name="latitude"
                value="{{restaurant.lat}}"
                readonly
                placeholder="Latitude">
        <input  ng-model="ctrl.restaurant.lng"
                type="text"
                name="longitude"
                value="{{restaurant.lng}}"
                readonly
                placeholder="Longitude">
        <div class="restaurant_image_row">
          <span>Add Image:</span>
          <input  type="file"
                  class="restaurant_image_input"
                  name="restaurant-image">
          {% if restaurant.image %}
          <div class="restaurant_image_wrapper">
            <img class="restaurant_image" src="{{restaurant.image.url}}" alt="Restaurant image">
          </div>
          {% endif %}
        </div>
        <a class="form_submit_button"
            ng-click="ctrl.submitNewRestaurant()">Submit Restaurant</a>
      </div>
    </form>
    <div class="new_restaurant_map_data">
      <div id="map"></div>
    </div>
  </div>

</section>

{% endblock %}

{% block scripts %}
  {{ block.super }}


{% endblock %}
