{% extends "base.html" %}

{% block main %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0VxVP-vZw_Nsu_FBvCOK0KrFBohhPN8A&libraries=places"></script>
<section  class="new_restaurant_section"
          ng-controller="adminRestaurantsController as ctrl">
  <h2>New Restaurant</h2>
  <label for="address">Enter an address to check for a valid location
    <input id="address-input" type="text" name="address" value="">
    <div id="map"></div>
  </label>

</section>

{% endblock %}

{% block scripts %}
  {{ block.super }}


{% endblock %}
